
              <div class="row">
                  <div class="col-lg-10">
                     <h1><a href="#" editable-text="project.name" onaftersave="update()">{{ project.name || "add project name" }}</a></h1>
                  </div>

                  <div class="col-lg-1">
                     <h3><a href="/" ng-click="destroy()"><i class="fa fa-trash-o"></i></a><h3>
 
                  </div>
                </div>






              <br>

              <div class="row">
                  <div class="col-lg-3">



                             <!--widget start-->
                              <div class=" state-overview" ng-click="tasks()" onmouseover="" style="cursor: pointer;">
                                  <section class="panel">
                                      <div class="symbol green">
                                          <i class="fa fa-check-square-o"></i>
                                      </div>
                                      <div class="value">
                                          <h1>0</h1>
                                          <p>Tasks</p>
                                      </div>
                                  </section>
                              </div>
                              <!--widget end-->

</div>
 <div class="col-lg-3">
                                                            <!--widget start-->
                              <div class=" state-overview" ng-click="messages()" onmouseover="" style="cursor: pointer;">
                                  <section class="panel">
                                      <div class="symbol red">
                                          <i class="fa fa-users"></i>
                                      </div>
                                      <div class="value">
                                          <h1>0</h1>
                                          <p>Messages</p>
                                      </div>
                                  </section>
                              </div>
                              <!--widget end-->


</div>
 <div class="col-lg-3">

                                                            <!--widget start-->
                              <div class=" state-overview" ng-click="updates()" onmouseover="" style="cursor: pointer;">
                                  <section class="panel">
                                      <div class="symbol default">
                                          <i class="fa fa-list"></i>
                                      </div>
                                      <div class="value">
                                          <h1>0</h1>
                                          <p>Updates</p>
                                      </div>
                                  </section>
                              </div>
                       
                              <!--widget end-->
</div>

      </div>
  </div>

<!-- TASK / MESSAGES -->

<!-- HOW TO ADD MULTIPLE PANELS SELECTIVELY - NOT USING FOR NOW ->

</div>

      <div class="col-lg-9" ng-show="taskOn">
        <span class="icon-thumbs-up"></span> Tasks are on!
      </div>

      <div class="col-lg-9" ng-show="messageOn">
        <span class="icon-thumbs-up"></span> Messages are on!
      </div>

      <div class="col-lg-9" ng-show="updateOn">
        <span class="icon-thumbs-up"></span> Updates are on!
      </div>

    </div>

-->


<div class="row">

 <div class="col-lg-9">


  <div class="slide-animate-container">
        <div class="slide-animate" ng-include="view"></div>
  </div>

</div>

</div>

