<div class="col-md-9" div ng-controller="TodoCtrl">
                      <section class="panel tasks-widget">
                          <header class="panel-heading">
                            
                            <span>Tasks: {{remaining()}} of {{todos.length}} remaining</span>
                                                       <form ng-submit="addTodo()">
                            <input type="text" ng-model="todoText"  size="30"
                            placeholder="add new todo here">
                            <input class="btn-primary" type="submit" value="add">
                          </form> 

                          </header>
                          <div class="panel-body">


                            
                              <div class="task-content">
                                  <ul id="sortable" class="task-list">
                                      <li class="list-primary" ng-repeat="todo in todos">
                                          <i class=" fa fa-ellipsis-v"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp">{{todo.text}}</span>
                                              <span class="badge badge-sm label-success">2 Days</span>
                                              <div class="pull-right hidden-phone">
                                                  <button class="btn btn-success btn-xs fa fa-check" ng-click="archive()"></button>
                                                  <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                  <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                              </div>
                                          </div>
                                      </li>

                                  </ul>
                              </div>

                              <!--
                              <div class=" add-task-row">
                                  <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                                  <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                              </div>

                            -->
                          </div>
                      </section>
                  </div>

